{% extends "layout.html" %}
{% block body %}
<div  class="white">
<header>
    <!-- NavBar -->
    <nav class="blue-grey darken-4">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <div class="row">
            <div class="col s10 offset-s1">
                <a class="brand-logo">{{ title }}</a>
            </div>
        </div>
    </nav>

    <!-- SideNav -->
    <ul id="slide-out" class="side-nav fixed blue-grey lighten-5">
        <li class="row"><div class="userView col s10 offset-s1">
            <a href="/"><object type="image/svg+xml" data="http://image005.flaticon.com/159/svg/135/135657.svg"></object></a>
        </div></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="/"><i class="material-icons">cloud_done</i>My downloads <span class="badge">{{ user.episodes_ready()|length }}</span></a></li>
        <li><a class="waves-effect" href="/processing"><i class="material-icons">cloud_download</i>My processing queue<span class="badge">{{ user.episodes_processing()|length }}</span></a></li>
        <li><a class="waves-effect" href="/pending"><i class="material-icons">cloud_queue</i>My pending queue <span class="badge">{{ user.episodes_pending()|length }}</span></a></li>
        <li><a class="waves-effect" href="/calendar"><i class="material-icons">view_agenda</i>My agenda</a></li>
        <li><a class="waves-effect" href="{{ url_for('subscriptions') }}"><i class="material-icons">subscriptions</i>My subscriptions <span class="badge">{{ user.shows|length }}</span></a></li>
        <li><a class="waves-effect" href="{{ url_for('explore') }}"><i class="material-icons">star</i>Explore</a></li>
        <li><a class="waves-effect" href="{{ url_for('logout') }}"><i class="material-icons">settings_power</i>Log-out</a></li>
    </ul>
</header>

<main>
    <div class="row">
        {% if episodes %}
            {% set episode = episodes|random %}
            <img style="width: 100%" src="{{ episode.show.banner }}" />
        {% endif %}

        <div class="col s10 offset-s1">
            {% block main %}{% endblock %}
        </div>
    </div>
</main>

<footer class="page-footer blue-grey darken-3">
    <div class="row">
        <div class="col offset-l1 l7 s10">
            <h5 class="white-text">Unagi is a concept... OF TOTAL AWARENESS.</h5>
            <blockquote class="grey-text text-lighten-4 color-red">

                <p>« I've studied karate for a very long time. And there's a concept you should really be familiar with. It's what the Japanese call... Unagi! »</p>
                <p>« Isn't that sushi? »</p>
                <p>« No it's a concept! »</p>
                <p><i>Friends &mdash; S06E17 &mdash; The One With Unagi</i></p>
            </blockquote>
        </div>
        <div class="col l3 offset-l1 s10">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="http://thetvdb.com/">TheTVDB</a></li>
                <li><a class="grey-text text-lighten-3" href="https://rarbg.to/">Rarbg</a></li>
                <li><a class="grey-text text-lighten-3" href="http://www.addic7ed.com/">Addic7ed</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            <div class="col s10 offset-s1">
                Built with <span class="red-text">♥</span> by <a class="grey-text text-lighten-4" href="http://blizzart.net">Blizz'art</a>
            </div>
        </div>
    </div>
</footer>
</div>
{% endblock %}
