{% extends "base.html" %}
{% block main %}

    {% if not episodes %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel blue-grey darken-2">
                <span class="white-text">No episodes.</span>
            </div>
        </div>
    </div>

    {% else %}
    <ul class="collection">
        {% for episode in episodes %}
            <li class="collection-item avatar row">
                {% if episode.show.poster %}
                    <img class="responsive-img col s2" src="{{ episode.show.poster }}">
                {% endif %}
                <div class="col s7">
                    <p>
                        <a class="brown-text text-darken-4" href="{{ url_for('show', show_id=episode.show.id) }}">{{ episode.show.title }}</a><br/>
                    </p>
                    <span class="title">
                        <div class="chip">S{{ "%02d" % episode.season }}E{{ "%02d" % episode.number }}</div> {{ episode.title }}
                        <a href="#episode{{episode.id}}" class="modal-trigger brown-text"><i class="material-icons tiny">info_outline</i></a>

                    </span>
                    {% if episode.aired_at %}
                    <p class="grey-text text-darken-1">
                        First aired at {{ episode.aired_at }}.<br/>
                    </p>
                    {% endif %}
                    <div id="episode{{episode.id}}" class="modal">
                        <div class="modal-content">
                            <h4>{{ episode.show.title }} &mdash; S{{ "%02d" % episode.season }}E{{ "%02d" % episode.number }} &mdash; {{ episode.title }}</h4>
                            <p class="row">
                                {% if episode.image %}
                                    <img class="col s4 responsive" src="{{ episode.image }}" />
                                {% endif %}
                                {{ episode.summary }}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                        </div>
                    </div>
                </div>
                <div class="secondary-content col s3">
                {% if episode.torrent %}
                    <div class="row">
                    <div class="col s12">
                        <a href="{% if episode.torrent_percent < 100 %}#{%else%}{{ url_for('video', episode_id=episode.id) }}{%endif%}" class="col s12 waves-effect waves-light btn blue-grey {% if episode.torrent_percent < 100 %}disabled{% endif %}"><i class="material-icons left">movie</i> Episode</a>
                        {% if episode.torrent_percent < 100 %}
                        <div class="col s12 progress">
                            <div class="determinate" style="width: {{ episode.torrent_percent }}%"></div>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                    <div class="row">
                    <div class="col s12">
                        <a href="{% if episode.subtitle_percent < 100 %}#{%else%}{{ url_for('subtitle', episode_id=episode.id) }}{%endif%}" class="col s12 waves-effect waves-light btn blue-grey lighten-1 {% if episode.subtitle_percent < 100 %}disabled{% endif %}"><i class="material-icons left">subtitles</i> Subtitles</a>
                        {% if episode.subtitle_percent < 100 %}
                        <div class="col s12 progress">
                            <div class="determinate" style="width: {{ episode.subtitle_percent }}%"></div>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                {% elif is_past(episode) %}
                    <div class="col s12">
                        <a href="{{ url_for('queue', episode_id=episode.id) }}" class="col s12 waves-effect waves-light btn blue-grey darken-1"><i class="material-icons left">add_to_queue</i> Queue</a>
                    </div>
                {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
