<!DOCTYPE html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Unagi - {{ title }}</title>
        <link rel="icon" type="image/svg" href="http://image005.flaticon.com/159/svg/135/135657.svg" />
        <style>
            header, main, footer {
                padding-left: 300px;
            }

            @media only screen and (max-width : 992px) {
                header, main, footer {
                    padding-left: 0;
                }
            }

            .progress {
                margin-top: -4px;
                z-index: 400;
            }
        </style>
    </head>

    <body class="blue-grey darken-4">
        {% block body %}{% endblock %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal-trigger').leanModal();

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        Materialize.toast('Erreur : {{ message }}!', 4000) // 4000 is the duration of the toast

                        {% endfor %}
                    {% endif %}
                {% endwith %}

                $('.tooltipped').tooltip({delay: 50});
            });

            // Initialize collapse button
            $(".button-collapse").sideNav();
            // Initialize collapsible (uncomment the line below if you use the dropdown variation)
            //$('.collapsible').collapsible();
        </script>
    </body>
</html>
