{% extends "layout.html" %}
{% block body %}
<div class="row valign-wrapper" style="height: 100%">
    <div class="col s4 offset-s4 valign z-depth-5 blue-grey lighten-5">
        <div class="section" style="overflow: auto">
            <form method="post">
                <div class="section">
                    <img class="col s6 offset-s3" src="http://image005.flaticon.com/159/svg/135/135657.svg" />
                    <div style="clear: both;"></div>
                </div>
                <div class="input-field col s12 text-brown">
                    <input type="email" id="email" name="email" class="text" value="{{ request.form.email }}" required autofocus>
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field col s12">
                    <input type="password" id="password" name="password" class="text" required>
                    <label for="password">Password</label>
                </div>
                <div class="col s12">
                    <div class="">
                        <button class="btn waves-effect waves-light blue-grey darken-2 col s12" type="submit" name="action">Log-in
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
html, body { height: 98% }
</style>
{% endblock %}
