{% extends "base.html" %}
{% block main %}

    <div class="row">
        <div class="col s12">
            <form action="{{ url_for('search') }}">
                <div class="row">
                    <div class="input-field s12">
                        <i class="material-icons prefix">search</i>
                        <input id="query" type="search" name="query" value="{{ query }}" required>
                        <label for="search">TV Show</label>
                        <i class="material-icons">close</i>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for show in shows %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal sticky-action">
                {% if show.poster %}
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{{ show.poster }}">
                </div>
                {% endif %}
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">{{ show.title }}<span class="badge">{{show.status}}</span></span>
                        <p>
                        {% for genre in show.genre.split(',') %}
                            <div class="chip">{{ genre }}</div>
                        {% endfor %}
                        </p>
                        <p>{{ show.summary }}</p>
                        <p class="grey-text text-darken-1">
                            {{ show.episodes|length }} episodes
                            {% if show.duration %}
                                of {{ show.duration }} minutes
                            {% endif %}
                            aired
                            {% if show.first_aired_at %}
                                since {{ show.first_aired_at }}
                            {% endif %}
                            {% if show.network %}
                                on {{ show.network }}
                            {% endif %}
                            {% if show.air_day %}
                                every {{ show.air_day }}
                            {% endif %}
                            {% if show.air_time %}
                                at {{ show.air_time }}
                            {% endif %}
                            .
                        </p>
                    </div>
                    <div class="card-action">
                        {% if user.is_subscriber(show): %}
                        <a class="brown-text" href="{{ url_for('unsubscribe', show_id=show.id) }}">Unsubscribe</a>
                        <a class="brown-text" href="{{ url_for('show', show_id=show.id) }}">Episodes</a>
                        {% else %}
                        <a class="brown-text" href="{{ url_for('subscribe', show_id=show.id) }}">Subscribe</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
